let panier; {% extends 'base.html' %}
{% load static %}

{% block title %}Compétition{% endblock %}

{% block body %}
    <style>
        body {
            background-image: url("{% static "image/basket_background.jpg" %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <br>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline d-flex justify-content-center">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="search" class="form-control form-control-lg" id="input-search" name="item-name" placeholder="Recherchez votre produit">
                    </div>
                    <button type="submit" class="btn btn-lg btn-success mb-2">Rechercher</button>
                </form>
            </div>
        </div>
    </div>

    <br>

    <div class="row container-fluid">
        {% for product in product_objet %}
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <img src="{{ product.image }}" alt="test" class="card-img-top">
                    <div class="card-body">
                        <h5 id="aa{{ product.id }}" class="card-title">{{ product.titre }}</h5>
                        <p id="price{{ product.id }}" style="color:orange" class="card-text"> {{ product.price }} €</p>
                        <a href="{% url "detail_product" product.id %}" class="btn btn-danger">Voir</a>
                        <button id="{{ product.id }}" class="btn ted btn-success">Ajouter</button>
                    </div>
                </div>
            <br>
            </div>
        {% endfor %}
    </div>

    <br>

    <div></div>

    <br>


{% endblock %}

{% block script %}
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Popover(tooltipTriggerEl)
        });
    </script>
        <script type="text/javascript">
        console.log('Juste pour tester ');
        if(localStorage.getItem('panier') == null){
            var panier = {};
        }else{
            panier = JSON.parse(localStorage.getItem('panier'));
        }
        $(document).on('click', '.ted', function(){
            console.log('ajouter');
            var item_id = this.id.toString();
            console.log(item_id);
            if(panier[item_id] !== undefined){
                quantite = panier[item_id][0] +1 ;
                panier[item_id][0] = quantite;
                panier[item_id][2] += parseFloat(document.getElementById("price"+item_id).innerHTML);
            }else{
                quantite = 1;
                prix = parseFloat(document.getElementById("price"+item_id).innerHTML);
                nom =  document.getElementById("aa"+item_id).innerHTML;
                panier[item_id] = [quantite, nom, prix ];

            }
            console.log(panier);
            localStorage.setItem('panier', JSON.stringify(panier));
            document.getElementById("panier").innerHTML ="Panier("+ Object.keys(panier).length+")";

        });
        AfficherList(panier);
        function AfficherList(panier){
            var panierString = " ";
            panierString += "<h5>Voici votre liste</h5>";
            var index = 1;
            for(var x in panier){
                panierString += index;
                panierString += document.getElementById("aa"+x).innerHTML + " Qte: "+ panier[x][0] + "</br>";
                index +=1;
            }
            panierString += "<a href='/checkout' class='btn btn-primary'>Checkout</a>";
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover("show");
            });

            document.getElementById('panier').setAttribute('data-content', panierString);
        }

    </script>
{% endblock %}