{% extends 'base.html' %}
{% load static %}


{% block title %}{{ object.titre }}{% endblock %}

{% block body %}
    <style>
        body {
            background-image: url("{% static "image/back.jpg" %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <br>
    <div class="row mx-auto">
        <div class="col-md-6">
            <div>
                <img src="{{ object.image }}" width="500px" height="500px" alt="test">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-warning display-3">
                {{ object.titre }}
            </div>
            <div class="text-danger ">
               Prix:  $ {{ object.price }}
            </div>
            <div>
                {{ object.description }}
            </div>
            <a href="#"><button class="btn btn-success">Acheter</button></a>
        </div>
    </div>

{% endblock %}